@button-font-size: @global-small-font-size;
@button-font-weight: 700;
@button-small-font-size: @global-small-font-size;
@button-small-line-height: line-height(1.33);
@button-small-padding-horizontal: line-height(1);
@button-text-transform: @base-heading-text-transform;
@button-rounded-border-raduis: 0.33;

@inverse-button-primary-color: @global-emphasis-color;
@inverse-button-secondary-color: @global-emphasis-color;

@default-button-style: small secondary;

.hook-button {
  font-weight: @button-font-weight;
}

.tm-button-outline {
  background: transparent;
  border-style: solid;
  border-width: 1px;
}

.tm-button-rounded {
  border-radius: @button-rounded-border-raduis;
}

.button(@styles) {
  each(@styles, {
    @modifier: @value;
    @exp: ~'&:extend(.uk-button-@{value} all)';
    @{exp}, & { }
  });
}