@nuxt-progress-background-color: @global-primary-background;

.tm-loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 999999;
}

.nuxt-progress {
  background-color: @global-primary-background;
}

/*.tm-loading {
  progress::-moz-progress-bar { background: @global-primary-background }
  progress::-webkit-progress-value { background: @global-primary-background; }
  progress { color: @global-primary-background; }
}*/